.defaults {
    outline: none;
    border-radius: 1.25rem;
    border: 1px solid darkorange;

    padding: 0.5rem;

    &:hover {
        box-shadow: 0 4px 6px -1px rgba(226, 134, 30, 0.1),
            0 2px 4px -2px rgb(0 0 0 / 0.1);
        cursor: text;
    }
}

/* shadow-md shadow-gray-500  w-11/12 outline-none p-2 rounded-lg border border-slate-600 hover:shadow-green-300 */
